*, *::before, *::after {
	box-sizing: inherit;
}
html, body, #root, .App {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	flex-direction: row;
}
#map {
	height: 100%;
	width: 100%;
}
